.octopusWrapper {
    position: relative;
    z-index: 4;
    height: 100vh;
}

.octopusVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.missionVisionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 8vw;
    height: 100vh;
    background-color: var(--secondary-color);
    position: relative;
    z-index: 4;
    overflow: hidden;
}

.missionVisionWrapper {
    height: 100%;
    width: 100%;
    background-color: transparent;
    max-width: 1290px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10rem;
}

.logoMasked {
    position: absolute;
    top: 0;
    right: -50%;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s ease;
}

.missionContent,
.visionContent {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    text-align: left;
    height: 100vh;
    position: relative;
    z-index: 4;
    gap: 2%;
    height: fit-content;
}

.missionContent h4,
.visionContent h4 {
    color: var(--primary-color);
    text-transform: uppercase;
    width: 200px;
}

.missionContent p,
.visionContent p {
    color: black;
    font-size: 2rem;
    font-weight: 350;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    width: 50%;
}

.missionContent span,
.visionContent span {
    color: #8A8A8A;
}

.valuesContainer {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
    z-index: 5;
    padding: 0 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valuesWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5rem;
    max-width: 1290px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h2 {
    color: white;
    width: 200px;
}

.valuesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1290px;
    height: 40%;
}

.valuesCard {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    padding: 2rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: cenleftter;
    overflow: hidden;
}


.valuesCard h2 {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--primary-foreground);
    text-align: left;
    margin-bottom: 0.5rem;
    color: black;
}

.valuesCard p {
    text-align: left;
    color: black;
}

@media (max-width: 1300px) {

    .missionContent p,
    .visionContent p {
        font-size: 1.5rem;
    }

    .missionContent,
    .visionContent {
        gap: 1%;
    }

    .valuesCard h2{
        font-size: 1.4rem;
    }

    .valuesCard p{
        font-size: 1rem;
    }

    .valuesCard img{
        width: 30%;
    }
}

@media (max-width: 900px) {
    .valuesCard{
        padding: 2rem 1rem;
    }
}

@media (max-width: 768px) {
    .missionVisionWrapper{
        gap: 5rem;
    }

    .valuesGrid{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        height: fit-content;
        gap: 1rem;
    }

    .valuesCard{
        flex-direction: row;
        height: fit-content;
        gap: 1rem;
        align-items: start;
    }

    .valuesCard img{
        width: 15%;
    }

    .header h2{
        font-size: 2rem;
    }

    .missionContent, .visionContent{
        flex-direction: column;
        align-items: left;
    }

    .missionContent p, .visionContent p{
        width: 65%;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .valuesGrid{
        grid-template-columns: none;
        grid-template-rows: repeat(3, 0.9fr);
        height: fit-content;
        gap: 1rem;
    }

    .valuesCard h2{
        font-size: 1.1rem;
    }

    .valuesCard p{
        font-size: 1rem;
    }

    .header{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .header h2{
        font-size: 1.5rem;
    }

    .valuesCard img{
        width: 10%;
        height: 10%;
    }

    .logoMasked{
        height: unset !important;
        top: 0 !important;
        left: 0 !important;
        top: -200px !important;
    }
    
    .missionContent p, .visionContent p{
        width: 100%;
    }

}