.columnWrapper{
    width: 100vw;
    height: 100vh;
    padding: 5vw 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1290px;
    align-items: center;
    position: relative;
}

.gridContainer h1{
    font-size: 3.2rem;
    font-weight: 100;
    line-height: 1.2;
    /* color: var(--primary-foreground); */
    text-transform: uppercase;
    margin-top: 5rem;
}

.gridContainer p{
    margin-bottom: 2rem;
    font-weight: 100;
}

.columnText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin-left: auto;
}

.columnImage {
    position: relative;
    overflow: hidden;
    width: 71%; 
    height: 100%; 
  }
  
  .imageContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 140%; 
    height: 100%;
  }

.columnImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linePath{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    top: 0;
    z-index: 2;
}