.columnWrapper{
    width: 100vw;
    height: 100vh;
    padding: 5vw 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1290px;
}

.gridContainer h1{
    font-size: 3.2rem;
    font-weight: 100;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 5rem;
}

.gridContainer p{
    margin-bottom: 2rem;
    font-weight: 100;
}

.imageContainer {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.image, .media {
    width: 81%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    right: 0;
}

.columnText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.linePath{
    position: absolute;
    left: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    z-index: 2;
}