.divContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8vw;
    overflow-x: hidden;
}

.divWrapper {
    width: 100%;
    max-width: 1290px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5rem;
}

.divContent {
    flex: 1;
}

.divImage {
    flex: 1;
    height: 70%;
    position: relative;
}

.imageWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    position: relative;
}

.divContentText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    gap: 2rem;

}

.divContent h2 {
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}

.divText {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 1rem;
}

.divText p {
    color: black;
}

.divContainer a {
    width: fit-content;
}

@media (max-width: 900px) {
    .divWrapper {
        flex-direction: column;
        gap: 0;
        height: 80%;
    }

    .divImage {
        width: 100%;
    }

    .divContent {
        flex: 0.6;
    }

    .divContentText {
        height: fit-content;
    }

    .divContent h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .divContent p {
        font-size: 1.3rem;
    }

}

@media (max-width: 768px) {
    .divContent {
        flex: 0.6;
    }

    .divContent p {
        font-size: 1.1rem;
    }
}

@media (max-width: 550px) {
    .divWrapper {
        flex-direction: column;
        gap: 0;
        height: 85%;
    }

    .divImage {
        width: 100%;
    }

    .divContentText {
        height: fit-content;
    }

    .divContent h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

}

@media (max-width: 480px) {
    .divWrapper {
        flex-direction: column;
        gap: 0;
        height: 85%;
    }

    .divContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .divContent img{
        width: 15%;
        height: 15%;
    }

    .divContentText {
        margin-top: auto;
        margin-bottom: auto;
        gap: 0.5rem;
    }

    .divContent h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .divContent p {
        font-size: 0.9rem;
    }

}