.bannerWrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.bannerVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
  }

.bannerOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 99, 147, 0.7);
}

.bannerImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}

.bannerContentWrapper{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0 8vw;
    display: flex;
    justify-content: left;
}

.bannerContent, .solutionsBannerContent{
    max-width: 1290px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    margin: auto 0 15%;
}

.solutionsBannerContent{
    margin: auto 0 10%;
}

.bannerContent h1{
    text-transform: uppercase;
    font-size: 6rem;
}

.solutionsBannerContent h1{
    text-transform: uppercase;
    font-size: 5rem;
    width: 60%;
    text-align: left;
}

.bannerContent p{
    text-transform: lowercase;
    width: 45%;
    text-align: left;
}

.solutionsBannerContent p{
    text-transform: lowercase;
    width: 100%;
    text-align: left;
    margin-top: 2rem;
}

@media (max-width: 900px) {
    .bannerContent h1, .solutionsBannerContent h1{
        font-size: 4.5rem;
        width: 100%;
    }

    .bannerContent p{
        width: 50%;
    }
}

@media (max-width: 768px) {
    .bannerContent h1{
        font-size: 4rem;
    }

    .solutionsBannerContent h1{
        font-size: 3rem;
    }

    .solutionsBannerContent p{
        font-size: 1.1rem;
    }

    .bannerContent p{
        width: 25rem;
    }
}

@media (max-width: 480px) {
    .bannerContent h1{
        font-size: 3rem;
        text-align: left;
    }

    .solutionsBannerContent h1{
        font-size: 2rem;
    }

    .solutionsBannerContent p{
        font-size: 0.9rem;
    }

    .bannerContent p{
        font-size: 1rem;
        width: 20rem;
    }
}