.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 4;
    background-color: var(--secondary-color);
    padding: 0 8vw 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 5vw;
}

.wrapper {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1290px;
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.list {
    flex: 1;
}

.subheading {
    font-family: var(--secondary-font);
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.item {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    padding-right: 2rem;
    transition: color 0.3s ease;
    color: black;
}

.itemName {
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    padding-right: 2rem;
    transition: color 0.3s ease;
    color: black;
    margin-bottom: 0.8rem;
}

.item:hover {
    color: #1A6393;
}

.active {
    color: #1A6393;
    font-weight: 600;
    border-bottom: 2px solid #1A6393;
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    background: #1A6393;
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.preview {
    flex: 1;
    background-color: #e5f0f8;
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.imageWrapper {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    font-size: 0.9rem;
    color: var(--primary-color);
    text-align: left;
    margin-top: 0.75rem;
}

@media (max-width: 768px) {
    .grid{
        flex-direction: column;
    }

    .imageWrapper{
        height: 15rem;
    }
}
